# See the accompanying commit message for details on the upper bound
# for Sphinx's version. In short, until Sphinx's issue [10479][0] or our
# issues with Python >= 3.9 are fixed, the upper bound is needed.
#
# [0]: https://github.com/sphinx-doc/sphinx/issues/10479
sphinx>=1.3,<4.4
sphinx-rtd-theme
